@font-face {
  font-family:vazir;
  src: url(Vazir-Black-FD.ttf);
  font-weight: bold;
}
body {
  font-family: "vazir", monospace;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 32px;
  margin: 60px auto;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  direction: rtl;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}

ol {
  padding-left: 50px;
}

li {
  color: #4F4F4F;
  /* padding-left: 16px; */
  padding-right: 30px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}
li:before {
  content: "";
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 90%;
  border: 2px solid #ddd;
  position: absolute;
  top: -12px;
  left: 305px;
}

strong {
  color: #292929;
}

ol.alternating-colors li:nth-child(odd):before {
  border-color: #0BAD02;
}
ol.alternating-colors li:nth-child(even):before {
  border-color: #2378D5;
}